In [154]:
def readFeaturesWithSums(jsonTest,test):
    res=[]
    res.append(['match_id','r_xp_sum','d_xp_sum','r_gold_sum','d_gold_sum','r_lh_sum','d_lh_sum'])
    with bz2.BZ2File(jsonTest) as matches_file:
        for line in matches_file:
            match = json.loads(line)
            r_xp_sum=0
            d_xp_sum=0
            r_gold_sum=0
            d_gold_sum=0
            r_lh_sum=0
            d_lh_sum=0
            for i in range(len(match['times'])):
                if(match['times'][i]<5*60):
                    r_xp_sum+=match['players'][0]['xp_t'][i]
                    r_xp_sum+=match['players'][1]['xp_t'][i]
                    r_xp_sum+=match['players'][2]['xp_t'][i]
                    r_xp_sum+=match['players'][3]['xp_t'][i]
                    r_xp_sum+=match['players'][4]['xp_t'][i]
        
                    d_xp_sum+=match['players'][5]['xp_t'][i]
                    d_xp_sum+=match['players'][6]['xp_t'][i]
                    d_xp_sum+=match['players'][7]['xp_t'][i]
                    d_xp_sum+=match['players'][8]['xp_t'][i]
                    d_xp_sum+=match['players'][9]['xp_t'][i]
        
                    r_gold_sum+=match['players'][0]['gold_t'][i]
                    r_gold_sum+=match['players'][1]['gold_t'][i]
                    r_gold_sum+=match['players'][2]['gold_t'][i]
                    r_gold_sum+=match['players'][3]['gold_t'][i]
                    r_gold_sum+=match['players'][4]['gold_t'][i]
        
                    d_gold_sum+=match['players'][5]['gold_t'][i]
                    d_gold_sum+=match['players'][6]['gold_t'][i]
                    d_gold_sum+=match['players'][7]['gold_t'][i]
                    d_gold_sum+=match['players'][8]['gold_t'][i]
                    d_gold_sum+=match['players'][9]['gold_t'][i]
     
                    r_lh_sum+=match['players'][0]['lh_t'][i]
                    r_lh_sum+=match['players'][1]['lh_t'][i]
                    r_lh_sum+=match['players'][2]['lh_t'][i]
                    r_lh_sum+=match['players'][3]['lh_t'][i]
                    r_lh_sum+=match['players'][4]['lh_t'][i]
        
                    d_lh_sum+=match['players'][5]['lh_t'][i]
                    d_lh_sum+=match['players'][6]['lh_t'][i]
                    d_lh_sum+=match['players'][7]['lh_t'][i]
                    d_lh_sum+=match['players'][8]['lh_t'][i]
                    d_lh_sum+=match['players'][9]['lh_t'][i]
            res.append([match['match_id'],r_xp_sum,d_xp_sum,r_gold_sum,d_gold_sum,r_lh_sum,d_lh_sum])
    import csv
    with open('tmp.csv', 'w', newline='') as csvfile:
        spamwriter = csv.writer(csvfile, delimiter=',',
                            quotechar='|', quoting=csv.QUOTE_MINIMAL)
        spamwriter.writerows(res)
    features = pandas.read_csv(test)
    s = pandas.read_csv('./sums.csv', index_col='match_id')
    result = pandas.merge(features, s, left_on='match_id', right_index=True, how='left', sort=False)
    return result

In [170]:
#test=readFeaturesWithSums('matches_test.jsonlines.bz2','features_test.csv')
#features=readFeaturesWithSums('matches.jsonlines.bz2','features.csv')
features=pandas.read_csv('features.csv')
test=pandas.read_csv('features_test.csv')
print('yep!')
features.fillna(9999999,inplace=True)
test.fillna(9999999,inplace=True)
y=features['radiant_win']
features=features.drop(['duration','radiant_win','tower_status_radiant',
               'tower_status_dire','barracks_status_radiant','barracks_status_dire'],axis=1)
clf=GradientBoostingClassifier(n_estimators=30, random_state=42)
clf.fit(features,y)

yep!

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_split=1e-07, min_samples_leaf=1,
              min_samples_split=2, min_weight_fraction_leaf=0.0,
              n_estimators=30, presort='auto', random_state=42,
              subsample=1.0, verbose=0, warm_start=False)

array([ 0.46936631,  0.53440983,  0.50510758,  0.52275224,  0.4760958 ,
        0.510723  ,  0.50925907,  0.52607492,  0.47088511,  0.49669866,
        0.49011569,  0.51625118,  0.4588971 ,  0.49114043,  0.57201441,
        0.49804318,  0.46314419,  0.51295109,  0.51997051,  0.48339997,
        0.51259305,  0.54845578,  0.48865242,  0.51040166,  0.5327513 ,
        0.50090307,  0.49566761,  0.46267691,  0.45390498,  0.56978954,
        0.51993691,  0.57606385,  0.47210817,  0.52027642,  0.5146185 ,
        0.55513407,  0.46730444,  0.52196057,  0.50481735,  0.46081351,
        0.49800841,  0.52215735,  0.49837351,  0.52912486,  0.50675005,
        0.54737964,  0.48442401,  0.4672157 ])

In [171]:
pred=clf.predict_proba(test)[:,1]
match_id=pandas.read_csv('./features_test.csv')['match_id']
total=[]
total.append(["match_id","radiant_win"])
for i in range(0,len(match_id)):
    total.append([match_id[i],pred[i]])
import csv
with open('res.csv', 'w', newline='') as csvfile:
    spamwriter = csv.writer(csvfile, delimiter=',',
                            quotechar='|', quoting=csv.QUOTE_MINIMAL)
    spamwriter.writerows(total)

In [153]:
test

,start_time,lobby_type,r1_hero,r1_level,r1_xp,r1_gold,r1_lh,r1_kills,r1_deaths,r1_items,...,dire_boots_count,dire_ward_observer_count,dire_ward_sentry_count,dire_first_ward_time,r_xp_sum,d_xp_sum,r_gold_sum,d_gold_sum,r_lh_sum,d_lh_sum
0,1430287923,0,93,4,1103,1089,8,0,1,9,...,4,2,0,118.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
1,1430293357,1,20,2,556,570,1,0,0,9,...,2,2,1,16.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
2,1430301774,1,112,2,751,808,1,0,0,13,...,3,3,0,-34.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
3,1430323933,1,27,3,708,903,1,1,1,11,...,4,2,1,-26.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
4,1430331112,1,39,4,1259,661,4,0,0,9,...,3,2,1,-33.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
5,1430334264,0,97,5,2067,1549,15,0,0,8,...,5,2,0,34.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
6,1430334995,1,97,4,1862,1487,24,0,1,5,...,3,2,1,-32.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
7,1430349466,1,106,5,1991,1983,19,2,0,10,...,5,2,1,-35.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
8,1430366484,1,57,2,517,500,0,0,1,9,...,3,2,2,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
9,1430375099,7,36,3,1060,691,5,0,0,6,...,2,2,0,-27.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
10,1430378434,1,17,4,1760,1162,16,0,1,7,...,4,1,1,-40.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
11,1430379583,7,101,1,141,619,1,0,0,10,...,2,2,1,14.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
12,1430393467,7,91,2,629,557,0,0,0,1,...,4,2,0,-31.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
13,1430398436,1,7,2,572,828,5,0,0,4,...,4,1,1,-13.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
14,1430399788,1,1,3,1567,1823,30,0,0,4,...,2,2,1,-33.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
15,1430401076,7,73,5,2231,2044,22,0,0,7,...,2,2,1,-33.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
16,1430402407,7,4,4,1435,1173,17,0,1,4,...,4,3,0,-15.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
17,1430408743,1,21,5,1848,1497,24,0,1,9,...,3,2,1,26.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
18,1430408794,1,87,2,487,499,0,0,0,8,...,3,2,1,-24.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
19,1430421091,1,5,2,286,558,0,0,0,8,...,4,2,0,-37.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
20,1430421840,1,5,2,892,737,1,0,0,7,...,4,2,0,-29.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
21,1430424264,0,38,5,1945,2112,25,2,0,13,...,2,2,1,-23.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
22,1430427279,7,55,3,1017,1421,20,0,1,9,...,3,4,1,-29.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
23,1430432885,1,71,2,431,984,0,1,0,6,...,2,2,0,113.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
24,1430435117,0,45,3,777,541,1,0,0,8,...,1,2,0,76.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
25,1430441463,1,75,2,454,741,1,0,1,10,...,4,4,0,38.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
26,1430442629,1,90,2,672,537,2,0,0,7,...,2,2,0,-10.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
27,1430455303,0,72,2,949,895,2,1,0,4,...,4,2,0,-12.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
28,1430459074,1,99,2,464,588,2,0,1,8,...,4,2,0,-22.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
29,1430466608,1,41,4,1447,1801,30,0,0,6,...,2,2,1,14.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17147,1450131598,7,15,4,1373,1426,12,1,0,14,...,3,0,0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
17148,1450132288,1,50,3,686,633,0,0,0,8,...,2,2,1,6.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
17149,1450133142,1,74,4,1831,1086,12,0,0,7,...,2,3,2,-22.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
17150,1450135777,1,50,2,635,696,4,0,1,9,...,4,3,0,6.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
17151,1450136846,1,44,4,1190,1587,25,0,0,10,...,4,2,1,75.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
17152,1450137508,1,68,2,364,663,4,1,0,11,...,3,2,1,-45.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
17153,1450139129,7,7,2,699,663,0,0,0,9,...,2,4,0,-14.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
17154,1450140803,1,25,5,2109,1814,21,1,0,9,...,5,2,1,-61.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
17155,1450141777,1,28,3,1081,898,3,0,0,8,...,3,2,1,-33.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
17156,1450142038,1,42,3,1245,1410,20,0,0,9,...,2,3,1,32.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
17157,1450143728,1,22,5,2246,2287,26,1,0,8,...,3,3,1,9.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
17158,1450148011,1,72,3,1080,1352,15,1,1,7,...,4,3,0,12.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
17159,1450149079,0,3,3,765,775,5,0,1,9,...,3,2,0,7.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
17160,1450149573,1,15,4,1449,1670,22,1,0,6,...,3,5,1,-22.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
17161,1450150528,1,42,3,1099,1268,12,0,1,10,...,4,3,1,-11.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
17162,1450152049,1,1,3,1210,1439,19,0,0,7,...,4,2,1,-31.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
17163,1450162146,1,12,5,1724,1411,22,0,0,12,...,5,3,1,-17.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
17164,1450162461,1,96,4,1556,852,9,0,0,8,...,3,2,0,-8.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
17165,1450171844,1,74,5,1752,1212,14,0,1,9,...,5,4,1,-9.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
17166,1450179554,7,92,3,869,912,3,1,0,10,...,5,3,2,-9.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
17167,1450181136,1,60,2,694,638,3,0,1,7,...,5,2,1,5.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
17168,1450185543,1,60,2,763,1066,2,2,1,7,...,4,4,1,-26.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
17169,1450190796,1,8,4,1631,1289,19,0,0,6,...,3,4,1,-7.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
17170,1450190965,1,47,5,1841,1682,10,1,0,14,...,4,2,0,48.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
17171,1450203051,1,21,5,2176,1980,26,0,0,8,...,4,3,1,-28.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
17172,1450212780,7,11,5,2054,1941,27,0,1,8,...,3,2,1,-33.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
17173,1450222875,1,3,3,748,605,1,0,0,12,...,3,4,1,-18.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
17174,1450223593,1,85,2,575,499,0,0,0,8,...,4,4,0,-36.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
17175,1450244771,0,7,4,1844,1176,8,1,2,8,...,4,1,0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0
17176,1450255429,1,8,4,1215,1305,13,0,0,10,...,2,2,0,27.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0,9999999.0

In [122]:
test.columns.values

array(['match_id', 'start_time', 'lobby_type', 'r1_hero', 'r1_level',
       'r1_xp', 'r1_gold', 'r1_lh', 'r1_kills', 'r1_deaths', 'r1_items',
       'r2_hero', 'r2_level', 'r2_xp', 'r2_gold', 'r2_lh', 'r2_kills',
       'r2_deaths', 'r2_items', 'r3_hero', 'r3_level', 'r3_xp', 'r3_gold',
       'r3_lh', 'r3_kills', 'r3_deaths', 'r3_items', 'r4_hero', 'r4_level',
       'r4_xp', 'r4_gold', 'r4_lh', 'r4_kills', 'r4_deaths', 'r4_items',
       'r5_hero', 'r5_level', 'r5_xp', 'r5_gold', 'r5_lh', 'r5_kills',
       'r5_deaths', 'r5_items', 'd1_hero', 'd1_level', 'd1_xp', 'd1_gold',
       'd1_lh', 'd1_kills', 'd1_deaths', 'd1_items', 'd2_hero', 'd2_level',
       'd2_xp', 'd2_gold', 'd2_lh', 'd2_kills', 'd2_deaths', 'd2_items',
       'd3_hero', 'd3_level', 'd3_xp', 'd3_gold', 'd3_lh', 'd3_kills',
       'd3_deaths', 'd3_items', 'd4_hero', 'd4_level', 'd4_xp', 'd4_gold',
       'd4_lh', 'd4_kills', 'd4_deaths', 'd4_items', 'd5_hero', 'd5_level',
       'd5_xp', 'd5_gold', 'd5_lh', 'd5_kills', 'd5_deaths', 'd5_items',
       'first_blood_time', 'first_blood_team', 'first_blood_player1',
       'first_blood_player2', 'radiant_bottle_time',
       'radiant_courier_time', 'radiant_flying_courier_time',
       'radiant_tpscroll_count', 'radiant_boots_count',
       'radiant_ward_observer_count', 'radiant_ward_sentry_count',
       'radiant_first_ward_time', 'dire_bottle_time', 'dire_courier_time',
       'dire_flying_courier_time', 'dire_tpscroll_count',
       'dire_boots_count', 'dire_ward_observer_count',
       'dire_ward_sentry_count', 'dire_first_ward_time', 'r_xp_sum',
       'd_xp_sum', 'r_gold_sum', 'd_gold_sum', 'r_lh_sum', 'd_lh_sum'], dtype=object)